<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.androidtest"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="14"
        android:targetSdkVersion="21" />

    <supports-screens
        android:anyDensity="true"
        android:largeScreens="true"
        android:normalScreens="true"
        android:smallScreens="true"
        android:xlargeScreens="true" />
    
    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.RECORD_AUDIO"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.WAKE_LOCK"/>
    <uses-permission android:name="android.permission.READ_PHONE_STATE"/>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE"/>
    <uses-permission android:name="android.permission.VIBRATE"/>

    <application
        android:name="com.example.androidtest.main.MyApplication"
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/Theme.AppCompat"
        android:exported="false" >
        <activity
            android:name="com.example.androidtest.main.MainActivity"
        android:theme="@style/Theme.AppCompat"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name="XZQLDetail" >
        </activity>
        <activity android:name="ZFCGDetail" >
        </activity>
        <activity android:name="MoniPop" android:theme="@android:style/Theme.Dialog">
        </activity>
        <activity android:name="DynamicAddView"></activity>
        <activity android:name="Android_DateActivity"></activity>
        <activity android:name="MyDatePickerDialogAct"></activity>
        <activity android:name="MySpinnerAct"></activity>
        <activity android:name="LongClickSelCopyAct"></activity>
        <activity android:name=".voice.LongClickVoiceAct"></activity>
        <activity android:name="InputFaceAct"></activity>
        <activity android:name="TimerTaskAct"></activity>
        <activity android:name=".editlist.EditListAct"></activity>
        <activity android:name="HorizontalScrollViewAct"></activity>
        <activity android:name="CusDialogAct"></activity>
        <activity android:name="SingleChoiceAct"></activity>
        <activity android:name="CusDatePickerAct"></activity>
        <activity android:name="CusDatePickerShowAct" android:theme="@style/Cus_Theme_Dialog"></activity>
        <activity android:name="HtmlTextViewAct"></activity>
        <activity android:name="JsonParseAct"></activity>
        <activity android:name="RecycleViewAct"></activity>
        <activity android:name="FixTextViewAct"></activity>
        <activity android:name="ShowDialogAct"></activity>
        <activity android:name="MyShapeAct"></activity>
        <activity android:name="MultMarqueeTextViewAct"></activity>
        <activity android:name="MultAnimateAct"></activity>
        <activity android:name="PhoneInfoAct"></activity>
        <activity android:name="DrawerLayoutAct"></activity>
        <activity android:name="NineGridViewAct"></activity>
		<activity android:name="WebViewAct"></activity>
        <activity android:name="AndroidNotificationAct"></activity>
        <!-- android custom toast -->
        <activity android:name=".toast.CusToastAct"></activity>
        <activity android:name="CusEditTextAct" 
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:windowSoftInputMode="adjustResize"
            android:screenOrientation="portrait" ></activity>
        
        <activity android:name="com.example.androidtest.actionbar_support.ActionBarSupportAct" 
            android:theme="@style/Theme.AppCompat.Light" >
        </activity>
        <activity android:name="com.example.androidtest.actionbar_android.ActionBarAndroidAct" 
            android:logo="@drawable/ic_launcher_02"
            android:label="ABA"
            android:parentActivityName="com.example.androidtest.actionbar_android.ActionBarAndroidAct"
            android:theme="@android:style/Theme.Holo.Light" >
        </activity>
        <!-- sliding start -->
        <activity android:name=".sliding.SlidingAct"></activity>
        <activity android:name=".sliding.SlidingMenuAct"></activity>
        <activity android:name=".sliding.SlidingDrawerAct"></activity>
        <activity android:name=".sliding.SlidingPaneLayoutAct" android:theme="@style/android:Theme.Light" ></activity>
        <activity android:name=".sliding.SlidingViewDragHelperAct"></activity>
        <activity android:name=".sliding.residemenu.SlidingResideMenuAct"></activity>
        <!-- sliding end -->
        
        <activity android:name=".fragment.FragmentDemoAct"></activity>
        
        <activity android:name=".http.HttpMainAct"></activity>

        <activity android:name=".volley.AndroidVolleyAct"></activity>
        
        <activity android:name=".alertwindow.FirstActivity"></activity>
        <activity android:name=".alertwindow.LockAlertWindow" android:theme="@android:style/Theme.Dialog"></activity>
        
        <activity android:name=".service.MyServiceAct" ></activity>
        
        <!-- viewpager -->
        <activity android:name=".viewpager.VerticalViewpagerAct" ></activity>
    	<!-- android update -->    
        <activity android:name=".update.AndroidUpdateAct" ></activity>
        <!-- <service android:name="com.example.androidtest.update.AndroidUpdateService"></service> -->
        
        
        <!-- multi app install -->
        <activity android:name="MultiAppInstallAct" ></activity>

        <activity android:name="LastOnTouchTimeAct" ></activity>
        
        <activity android:name="SimpleBroadcastReceiverAct" ></activity>
        
        <activity android:name=".screenonoff.ScreenOnOffAct" ></activity>
        <activity
            android:name=".screenonoff.ScreenPwdAct"
            android:launchMode="singleTask"
            android:theme="@style/MyAlertDialog" >
        </activity>
        
        
        <!--  -->
        <activity android:name=".SpannableActivity"></activity>
        <!--  -->
        <activity android:name=".RadioButtonActivity"></activity>
        <!--  -->
        <activity android:name=".AndroidJs2JavaAct"></activity>
        <!--  -->
        <activity android:name=".ImageTextAct"></activity>
        <!--  -->
        <activity android:name=".TextScaleAct"></activity>
        <!--  -->
        <activity android:name=".CusAnimationAct"></activity>
        <!--  -->
        <activity android:name=".autofit.AutoFitTextViewAct"></activity>
        <!--  -->
        <activity android:name=".htmlparse.HtmlParstAct"></activity>
        <!--  -->
        <activity android:name=".ActivityInLayoutAct"></activity>
        <!--  -->
        <activity android:name=".MenuAct" android:theme="@style/AppBaseTheme"></activity>
        <!--  -->
        <activity android:name=".textview.MyTextViewAct"></activity>
        <!--  -->
        <activity android:name=".pullrefresh.PullRefreshActivity"></activity>
        <!--  -->
        <activity android:name=".preference.MyPreferenceActivity"></activity>
        <!--  -->
        <activity android:name=".preference.MyPreferenceFragmentActivity"></activity>
        <!-- some forsee demo -->
        <!--  -->
        <activity android:name=".a_foresee.gridview.TaxperGridActivity"></activity>
        <!--  -->
        <activity android:name=".a_foresee.gridview.TaxperTableRowActivity"  android:screenOrientation="landscape" ></activity>
</application>
</manifest>